body {
	font-family: sans-serif;
	width: 300px;
	padding: 10px;
}

input,
select,
button {
	width: 100%;
	margin: 5px 0;
}

ul {
	max-height: 150px;
	overflow-y: auto;
	padding-left: 16px;
}

.remove {
	color: red;
	cursor: pointer;
	margin-left: 5px;
}

.remove strong {
	font-weight: bold;
}